<div class="container">
    <div class="table-side">
        <main-table class="table" [data]="data" [config]="displayedColumns" *ngIf="!addMode && !editMode"></main-table>
        <app-add-form *ngIf="addMode && !editMode">
        </app-add-form>
        <app-edit-form *ngIf="editMode && !addMode"></app-edit-form>
    </div>
    <div class="buttons-side">
        <div class="tableMode" *ngIf="!addMode && !editMode">
            <button (click)="showEditForm()">Atualizar</button>
            <button (click)="showAddForm()">Adicionar</button>
        </div>
        <div class="addMode" *ngIf="addMode && !editMode">
            <button (click)="showTable()">Cancelar</button>
            <button (click)="showAddForm()">Adicionar</button>
        </div>
        <div class="editMode" *ngIf="editMode && !addMode">
            <button (click)="showTable()">Cancelar</button>
            <button (click)="showEditForm()">Editar</button>
        </div>
    </div>
</div>