/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**********************MAIN****************************/
:root {
    --primary-color: rgb(246,246,246);
    
    --primary-font-color: rgb(24, 194, 156);
    --secondary-font-color: rgb(103, 78, 167);
}

/**********************FEATURES****************************/
app-promotion {
    width: 100%;
    height: 100%;
}

/**********************CORE*************************/
app-header,
app-footer {
    width: 100%;
    height: 100%;
}
