
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

input:focus {
    outline-color: var(--secondary-color);
}

/**********************MAIN****************************/
:root {
    --primary-color: rgb(246, 244, 249);
    --secondary-color: rgb(103, 78, 167);

    --primary-font-color: rgb(24, 194, 156);
    --secondary-font-color: rgb(103, 78, 167);
}

/**********************FEATURES****************************/
app-sales,
app-add-form,
app-edit-form,
.form {
    width: 100%;
    height: 100%;
}
app-add-form,
app-edit-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

/**********************CORE*************************/
app-header,
app-footer {
    width: 100%;
    height: 100%;
}

/**********************SHARED-COMPONENTS*************************/
main-table {
    width: 100%;
    height: 100%;
}

/***********************************************/

.main-button {
    border-radius: 4px;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-font-color);
    color: var(--primary-font-color);
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 70%;
    max-width: 200px;
    min-width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.main-button:hover {
    box-shadow: 0px 9px 5px #999;
    transform: translateY(-5px);
}

.main-button:active{
    box-shadow: 0px 5px 5px #999;
    transform: translateY(0px);
}